html, body, h1, h2, h3:hover {
	margin: 0px;
	padding: 0px;
	border: none;
	font-family: 'Geogrotesque';
}

h1{
	font-size: 25px;
	font-weight: 300;

}

h2{
	font-size: 15px;
	font-weight: 200;

}

.first{
	background-color: #f2f2f2;
	color: #175443;

}

.second{
	background-color: #fff;
	color: #175443;

}

.third{
	background-color: #d7f9f2;
	color: #175443;

}

.footer{
	background-color: #17544e;
	color: #fff;
}